nav {
    transition: transform .7s;
    transform: translateX(-270px);
}

body.mobile nav {
    transform: translateX(0px);
}

body > section {
    transition: background-color .7s, filter .7s, opacity .7s;
}

body.mobile > section {
    opacity: .7;
    filter: blur(2px);
    background-color: #EDEDEC;
}

aside {
    display: none;
}

body > section {
    margin: 0;
}