nav {
    transition: transform .7s;
    transform: translateX(-270px);
}

body.nav-toggle nav {
    transform: translateX(0px);
}

body > section {
    transition: background-color .7s, 
                filter .7s, 
                opacity .7s,
                margin .7s;
}

body.nav-toggle > section {
    filter: blur(10px);
}

aside {
    display: none;
}

body > section {
    margin: 0;
}

header i {
    display: initial!important;
}

.herder-row  {
    margin: 0 0;
}

#herder-name {
    flex-wrap: wrap;
}

#herder-name > div {
    margin: 5px auto;
}